<footer class="footer mt-3">
    <div class="container mt-1">
        <a href="#inicio" class="footer-brand gradient-name">Jesús López</a>
        <p class="text-center mb-0 copyright">Copyright © 2024</p>
        <div class="social-icons">
            <a href="https://www.linkedin.com/in/jesús-lópez-gómez-4aa555277/" target="_blank"><img class="icon" src="../../assets/linkedinNegro.png" alt="Linkedin"></a>
            <a href="https://github.com/JesusLopezGomez" target="_blank"><img class="icon" src="../../assets/githubNegro.png" alt="GitHub"></a>
            <a href="mailto:jelopez.gom@gmail.com"><img class="icon" src="../../assets/emailNegro.png" alt="Email"></a>
        </div>
    </div>
</footer>
