<img src="../assets/ola.svg" alt="ola" class="ola mb-0">
<main>
        <h1 class="text-center">Tecnologías</h1>
        <div class="container containerTech mt-3 text-center">
                <div class="row justify-content-center my-2">
                        <div class="col-3 col-md-auto col-lg-1 px-0 mx-2 custom-width mb-3 tech-item">
                                <div class="tech-name">Angular</div>
                                <img src="../../assets/angular.png" class="iconTec" alt="Angular">
                        </div>
                        <div class="col-3 col-md-auto col-lg-1 px-0 mx-2 custom-width mb-3 tech-item">
                                <div class="tech-name">JavaScript</div>
                                <img src="../../assets/js.png" class="iconTec" alt="JavaScript">
                        </div>
                        <div class="col-3 col-md-auto col-lg-1 px-0 mx-2 custom-width mb-3 tech-item">
                                <div class="tech-name">TypeScript</div>
                                <img src="../../assets/typescript.png" class="iconTec" alt="TypeScript">
                        </div>
                        <div class="col-3 col-md-auto col-lg-1 px-0 mx-2 custom-width mb-3 tech-item">
                                <div class="tech-name">HTML</div>
                                <img src="../../assets/html.png" class="iconTec" alt="HTML">
                        </div>
                        <div class="col-3 col-md-auto col-lg-1 px-0 mx-2 custom-width mb-3 tech-item">
                                <div class="tech-name">CSS</div>
                                <img src="../../assets/css.png" class="iconTec" alt="CSS">
                        </div>
                        <div class="col-3 col-md-auto col-lg-1 px-0 mx-2 custom-width mb-3 mb-3 tech-item">
                                <div class="tech-name">React</div>
                                <img src="../../assets/react.png" class="iconTec" alt="React">
                        </div>
                </div>
                <div class="row justify-content-center my-2">
                        <div class="col-3 col-md-auto col-lg-1 px-0 mx-2 custom-width mb-3 mb-2 tech-item">
                                <div class="tech-name">Python</div>
                                <img src="../../assets/python.png" class="iconTec" alt="Python">
                        </div>
                        <div class="col-3 col-md-auto col-lg-1 px-0 mx-2 custom-width mb-3 mb-3 tech-item">
                                <div class="tech-name">Git</div>
                                <img src="../../assets/git.png" class="iconTec" alt="Git">
                        </div>
                        <div class="col-3 col-md-auto col-lg-1 px-0 mx-2 custom-width mb-3 tech-item">
                                <div class="tech-name">NodeJs</div>
                                <img src="../../assets/nodejs.png" class="iconTec" alt="NodeJS">
                        </div>
                        <div class="col-3 col-md-auto col-lg-1 px-0 mx-2 custom-width mb-3 tech-item">
                                <div class="tech-name">Java</div>
                                <img src="../../assets/java.png" class="iconTec" alt="Java">
                        </div>
                        <div class="col-3 col-md-auto col-lg-1 px-0 mx-2 custom-width mb-3 tech-item">
                                <div class="tech-name">Spring Boot</div>
                                <img src="../../assets/springboot.png" class="iconTec" alt="Spring Boot">
                        </div>
                        <div class="col-3 col-md-auto col-lg-1 px-0 mx-2 custom-width mb-3 tech-item">
                                <div class="tech-name">MongoDB</div>
                                <img src="../../assets/mongoDb.png" class="iconTec" alt="MongoDB">
                        </div>
                </div>
                <div class="row justify-content-center my-2">
                        <div class="col-3 col-md-auto col-lg-1 px-0 mx-2 custom-width mb-3 mb-2 tech-item">
                                <div class="tech-name">MySQL</div>
                                <img src="../../assets/mySQL.png" class="iconTec" alt="MySQL">
                        </div>
                        <div class="col-3 col-md-auto col-lg-1 px-0 mx-2 custom-width mb-3 tech-item">
                                <div class="tech-name">Oracle</div>
                                <img src="../../assets/oracle.png" class="iconTec" alt="Oracle">
                        </div>
                        <div class="col-3 col-md-auto col-lg-1 px-0 mx-2 custom-width mb-3 tech-item">
                                <div class="tech-name">PostgreSQL</div>
                                <img src="../../assets/postgresql.png" class="iconTec" alt="Postgresql">
                        </div>
                        <div class="col-3 col-md-auto col-lg-1 px-0 mx-2 custom-width mb-3 tech-item">
                                <div class="tech-name">Docker</div>
                                <img src="../../assets/docker.png" class="iconTec" alt="Docker">
                        </div>
                        <div class="col-3 col-md-auto col-lg-1 px-0 mx-2 custom-width mb-3 tech-item">
                                <div class="tech-name">JSP</div>
                                <img src="../../assets/jsp.png" class="iconTec" alt="JSP">
                        </div>
                        <div class="col-3 col-md-auto col-lg-1 px-0 mx-2 custom-width mb-3 tech-item">
                                <div class="tech-name">JSON</div>
                                <img src="../../assets/json.png" class="iconTec" alt="Json">
                        </div>
                </div>
        </div>
</main>
<img src="../../assets/olaVolteada.svg" alt="ola" class="olaVolteada">