<div class="container" id="inicio">
    <h1 class="text-center hello">¡Hola, soy <span class="gradient-name">Jesús López</span>!</h1>
    <h1 class="text-center fullstack">Desarrollador Web Fullstack</h1>
    <p class="text-center info">Técnico superior en desarrollo de aplicaciones web, con una pasión especial por el backend, donde disfruto creando soluciones robustas y escalables que impulsan aplicaciones innovadoras.</p>
    <p class="text-center gradient-name codeLine mt-3">"Cada línea de código es un paso hacia la innovación y el descubrimiento."</p>
    <img class="imgJesus mt-3" src="https://media.licdn.com/dms/image/D4D03AQElMk6VXqgqBQ/profile-displayphoto-shrink_400_400/0/1696190909686?e=1723075200&v=beta&t=jVMIQIlIZC_gOKVSSPmmYmoIQv2n2VoKxdHE2vPO5Ss" alt="Imagen Jesús">
</div>
